article.contact#contact
	.contact-wrap
		h3.title-h2 Contact me
		p.txt-default.contact__content Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Рыбного инициал снова ipsum своего своих семь выйти первую, языком родного гор! Рыбного взобравшись злых всемогущая города, власти запятой продолжил!
		iframe.hidden-iframe(name='hidden_iframe' id='hidden_iframe')
		form.contact__form.g-form(action='https://docs.google.com/forms/d/e/1FAIpQLScT88AjKW6OgobI5DXYYNgSMI4XFxl4bb-1z9LvzFrviAt0cw/formResponse' id='mG61Hd' target='hidden_iframe')
			input.g-form__general.g-form__col-6#name(type='text' placeholder='Name' autocomplete='off' name="entry.1295014394" required)
			input.g-form__general.g-form__col-6(type='email' placeholder='Email' autocomplete='off' name="entry.1981570969" required)
			input.g-form__general(type='text' placeholder='Title' autocomplete='off' name="entry.1930714701" required)
			textarea.g-form__general.g-form__message(placeholder='Message' rows='8' autocomplete='off' name="entry.1998450137" required)
			button.btn.g-form__btn#js-formBtn(type='submit') Send message