#particles-js.particles
.bg
.first-screen
	header.s-header.s-header-wrap
		.s-header__logo.logo
			img(src='images/logo.svg', alt='Skaya').logo__img
	article.intro-wrap
		.intro-img-wrap
			img(src="images/bg-me.jpg", alt="Me").intro-img
		.intro
			h1.title-h1 Front-End Developer
			p.txt-slider Hi! My name is Kateryna and I am a front-end developer. You are welcome to see my works below.
	a(href="#works").more.js-scrollto